<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <div class="container">
            <div> 
                <h3><%= title %></h3>
                <%- include('navbar', {links: links}) %>
            </div>
            <ul class="list">
                <% messages.forEach((message) => { %>
                    <li class="message"><%= message.user %>, 
                        <%= message.text %>, 
                        <%= message.added %>
                        <a href="display/<%= message.user %>">open</a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>